
.bubblesContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bubble {
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
}

.bubble.active {
  background-color: rgb(72, 237, 116);
}
