/* FeaturePage1.module.css */
.featurepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(rgb(237, 59, 59),  rgb(115, 43, 177),rgb(204, 125, 238),rgb(124, 36, 182) ,rgb(124, 36, 182),rgb(113, 58, 176),  rgb(115, 43, 177), rgb(124, 36, 182), rgb(124, 36, 182), rgb(204, 125, 238), rgb(124, 36, 182), rgb(237, 77, 77));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  .content {
    margin-bottom: 20px;
  }

  .logo {
    width: 150px;
    border-radius: 20px;
    box-shadow: #ffffff 0px 0px 2px 3px;
  }
  
  .continuebutton {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: bold;
    background:linear-gradient( #9e76ef,#c5aef3,#9f7aeb);
    color: #000000;
    border: none;
    border-radius: 8px;
    margin-top:10px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: #ffffff 0px 0px 0.2px 0.9px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .continuebutton:hover {
    background-color: #0056b3;
    color: white;
  }
  