
.firstpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    color: rgb(192, 233, 237);
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(red, white, red, red, red, red, red, red, red, red, red, white, red);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: #4f1111 0px 0px 15px 4px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .getstartedbutton {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient( #ff0000, #f45d5d);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: #685f5f 0px 0px 2px 0.5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  